In [1]:
import numpy as np
import pandas as pd
import requests
import os
import tweepy
import json
from PIL import Image
import re
from io import BytesIO
import re
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

# Gathering Data

In [2]:
archive_df=pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
filename= url.split('/')[-1]
r=requests.get(url)
if not os.path.isfile(filename):
    with open (filename,mode='wb') as imgp_file:
        imgp_file.write(r.content) 
image_predictions_df=pd.read_csv('image-predictions.tsv',sep = "\t")

In [4]:
df_list = []

with open('tweet-json.txt', 'r') as file:
    for line in file:
        tweet = json.loads(line)
        tweet_id = tweet['id']
        retweet_count = tweet['retweet_count']
        fav_count = tweet['favorite_count']
        df_list.append({'tweet_id':tweet_id,
                       'retweet_count': retweet_count,
                       'favorite_count': fav_count})
        
api_df = pd.DataFrame(df_list)

# -----------------------------------------------------------------------------------------

# • Assessing Data Set:

In [5]:
archive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [6]:
image_predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [7]:
api_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB

### Tidiness Issues:
`archive_df`
- related rows to retweets and replies (259 row)
- 4 columns of dogs classification
- 5 columns of un needed data related to retweets and replies

`api_df`
- favorites and retweet count columns needed to be merged with the first table to create a unit of tweets' obeservation

### Quality Issues:
`archive_df`
- tweet_id: is int    <font color='blue'>#programatically</font>
- timestamp: is object <font color='blue'>#programatically</font>
- None are represented as string not NaN object <font color='blue'>#programatically</font>
- tweets with empty images (extended_url) <font color='blue'>#programatically</font>
- tweets has two classifications together <font color='blue'>#visually</font>
- some dog names are not extracted correctly <font color='blue'>#visually</font>
- there are (rating_denominator) > 10 which manipulate the scale of its numerator likr rows 903 and 1121 <font color='blue'>#programatically</font>
- source column is not represented in clear naming <font color='blue'>#visually</font>
- tweets with no dog classification <font color='blue'>#visually</font>

`image_predictions_df`
- tweet_id: is int <font color='blue'>#programatically</font>
- there images in this table is not in archive table -visually- <font color='blue'>#visually</font>

`api_df`
- tweet_id: is int -programatically-

# -----------------------------------------------------------------------------------------

# • Cleaning Data Set:

##### <Font color='green'> First we need to make copies of the data in case we needed to iterate through the data again</font>

In [8]:
archive_df_c = archive_df.copy()
image_predictions_df_c = image_predictions_df.copy()
api_df_c = api_df.copy()

##### `archive_df_c`
- timestamp column is object
- tweet_id: is in

##### Define
- change the type of the timestamp column to datetime
- change the type of the tweet_id column type to string/object

##### Code

In [9]:
archive_df_c['timestamp'] = pd.to_datetime(archive_df_c['timestamp'])
archive_df_c['tweet_id'] = archive_df_c['tweet_id'].apply(str)

##### Test

In [10]:
archive_df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   object
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   datetime64[ns, UTC]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(10)
memory usage: 313.0+ KB

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • None are represented as string not NaN object  `archive_df_c`
##### Define
change replace 'None' string with NaN value

##### Code

In [11]:
 archive_df_c.replace("None",np.nan,inplace=True)

##### Test

In [12]:
archive_df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   object
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   datetime64[ns, UTC]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        1611 non-null   object
 13  doggo                       97 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      257 non-null    object
 16  puppo                       30 non-null     object
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(10)
memory usage: 313.0+ KB

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • related rows to retweets and replies (259 row)  `archive_df_c`
##### Define
delete records related to replies and retweets (as we need orignal tweets)

##### Code

In [13]:
df_no_reply = archive_df_c.query('in_reply_to_status_id != in_reply_to_status_id')
archive_df_c = df_no_reply.query('retweeted_status_id != retweeted_status_id')

##### Test

In [14]:
archive_df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2097 non-null   object
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2097 non-null   datetime64[ns, UTC]
 4   source                      2097 non-null   object
 5   text                        2097 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2094 non-null   object
 10  rating_numerator            2097 non-null   int64
 11  rating_denominator          2097 non-null   int64
 12  name                        1494 non-null   object
 13  doggo                       83 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      230 non-null    object
 16  puppo                       24 non-null     object
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(10)
memory usage: 294.9+ KB

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • 5 columns of un needed data related to retweets and replies `archive_df_c`
##### Define
remove columns(in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp)

##### Code

In [15]:
archive_df_c.drop(['in_reply_to_status_id', 'in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp'],axis=1,inplace = True)

C:\Users\ahmad\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

##### Test

In [16]:
archive_df_c.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo'],
      dtype='object')

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • tweets with empty images (extended_urls) `archive_df_c`
##### Define
remove rows with empty images

##### Code

In [17]:
archive_df_c = archive_df_c.dropna(how='any', subset=['expanded_urls'])

##### Test

In [18]:
archive_df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2094 non-null   object
 1   timestamp           2094 non-null   datetime64[ns, UTC]
 2   source              2094 non-null   object
 3   text                2094 non-null   object
 4   expanded_urls       2094 non-null   object
 5   rating_numerator    2094 non-null   int64
 6   rating_denominator  2094 non-null   int64
 7   name                1494 non-null   object
 8   doggo               83 non-null     object
 9   floofer             10 non-null     object
 10  pupper              229 non-null    object
 11  puppo               24 non-null     object
dtypes: datetime64[ns, UTC](1), int64(2), object(9)
memory usage: 212.7+ KB

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### -  4 columns of dogs classification
#### - tweets has two classifications together
`archive_df_c`
##### Define
- creating data frames for each dog class
- create a data frame for the non classified
- deleting duplictaes
- merging them

##### Code

In [19]:
archive_df_c_doggo = archive_df_c.query('doggo == doggo')
archive_df_c_doggo.drop(['floofer','pupper','puppo'],axis=1,inplace=True)
archive_df_c_doggo = archive_df_c_doggo.rename(columns={'doggo':'classification'})

C:\Users\ahmad\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [20]:
archive_df_c_floofer = archive_df_c.query('floofer == floofer')
archive_df_c_floofer.drop(['doggo','pupper','puppo'],axis=1,inplace=True)
archive_df_c_floofer = archive_df_c_floofer.rename(columns={'floofer':'classification'})

In [21]:
archive_df_c_pupper = archive_df_c.query('pupper == pupper')
archive_df_c_pupper.drop(['doggo','floofer','puppo'],axis=1,inplace=True)
archive_df_c_pupper = archive_df_c_pupper.rename(columns={'pupper':'classification'})

In [22]:
archive_df_c_puppo = archive_df_c.query('puppo == puppo')
archive_df_c_puppo.drop(['doggo','floofer','pupper'],axis=1,inplace=True)
archive_df_c_puppo = archive_df_c_puppo.rename(columns={'puppo':'classification'})

In [23]:
archive_df_11 = archive_df_c.query('doggo != doggo')
archive_df_12 =  archive_df_11.query('floofer != floofer')
archive_df_13 = archive_df_12.query('pupper != pupper')
archive_df_noclass = archive_df_13.query('puppo != puppo')

In [24]:
archive_df_noclass['classification'] = np.nan 
archive_df_noclass.drop(['doggo', 'floofer','pupper','puppo'],axis=1,inplace = True)

<ipython-input-24-2293a5e33ec4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archive_df_noclass['classification'] = np.nan

In [25]:
archive_df_c2 = pd.concat([archive_df_c_doggo, archive_df_c_floofer,archive_df_c_pupper,archive_df_c_puppo,archive_df_noclass],
                             ignore_index=True)
archive_df_c2 = archive_df_c2[~(archive_df_c2.tweet_id.duplicated())]

##### Test

In [26]:
archive_df_c_doggo.nunique()

tweet_id              83
timestamp             83
source                 3
text                  83
expanded_urls         83
rating_numerator       7
rating_denominator     1
name                  45
classification         1
dtype: int64

In [27]:
archive_df_c_floofer.nunique()

tweet_id              10
timestamp             10
source                 2
text                  10
expanded_urls         10
rating_numerator       4
rating_denominator     1
name                   5
classification         1
dtype: int64

In [28]:
archive_df_c_pupper.nunique()

tweet_id              229
timestamp             229
source                  4
text                  229
expanded_urls         229
rating_numerator       12
rating_denominator      1
name                  127
classification          1
dtype: int64

In [29]:
archive_df_c_puppo.nunique()

tweet_id              24
timestamp             24
source                 2
text                  24
expanded_urls         24
rating_numerator       6
rating_denominator     1
name                  16
classification         1
dtype: int64

In [30]:
archive_df_noclass.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1759 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1759 non-null   object
 1   timestamp           1759 non-null   datetime64[ns, UTC]
 2   source              1759 non-null   object
 3   text                1759 non-null   object
 4   expanded_urls       1759 non-null   object
 5   rating_numerator    1759 non-null   int64
 6   rating_denominator  1759 non-null   int64
 7   name                1296 non-null   object
 8   classification      0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(5)
memory usage: 137.4+ KB

In [31]:
archive_df_c2.nunique()

tweet_id              2094
timestamp             2094
source                   4
text                  2094
expanded_urls         2093
rating_numerator        33
rating_denominator      14
name                   954
classification           4
dtype: int64

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • there are (rating_denominator) > 10 which manipulate the scale of its numerator likr rows 903 and 1121 -programatically- `archive_df_c`
##### Define
- scale down the ratio of the numerator and denominator to equal (something /10) to help us is calculating describtive statistics

##### Code

In [32]:
archive_df_c3 = archive_df_c2.query('rating_denominator > 10')

archive_df_c3

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,classification
626,820690176645140481,2017-01-15 17:52:40+00:00,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,https://twitter.com/dog_rates/status/820690176...,84,70,NaN,NaN
925,758467244762497024,2016-07-28 01:00:57+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,https://twitter.com/dog_rates/status/758467244...,165,150,NaN,NaN
1039,740373189193256964,2016-06-08 02:41:38+00:00,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",https://twitter.com/dog_rates/status/740373189...,9,11,NaN,NaN
1077,731156023742988288,2016-05-13 16:15:54+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,https://twitter.com/dog_rates/status/731156023...,204,170,this,NaN
1111,722974582966214656,2016-04-21 02:25:47+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy 4/20 from the squad! 13/10 for all https...,https://twitter.com/dog_rates/status/722974582...,4,20,NaN,NaN
1141,716439118184652801,2016-04-03 01:36:11+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,NaN
1166,713900603437621249,2016-03-27 01:29:02+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,https://twitter.com/dog_rates/status/713900603...,99,90,NaN,NaN
1188,710658690886586372,2016-03-18 02:46:49+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,https://twitter.com/dog_rates/status/710658690...,80,80,NaN,NaN
1207,709198395643068416,2016-03-14 02:04:08+00:00,"<a href=""http://twitter.com/download/iphone"" r...","From left to right:\nCletus, Jerome, Alejandro...",https://twitter.com/dog_rates/status/709198395...,45,50,NaN,NaN
1270,704054845121142784,2016-02-28 21:25:30+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,https://twitter.com/dog_rates/status/704054845...,60,50,a,NaN
1337,697463031882764288,2016-02-10 16:51:59+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy Wednesday here's a bucket of pups. 44/40...,https://twitter.com/dog_rates/status/697463031...,44,40,NaN,NaN
1482,684222868335505415,2016-01-05 04:00:18+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,https://twitter.com/dog_rates/status/684222868...,121,110,NaN,NaN
1501,682962037429899265,2016-01-01 16:30:13+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darrel. He just robbed a 7/11 and is i...,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,NaN
1593,677716515794329600,2015-12-18 05:06:23+00:00,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,https://twitter.com/dog_rates/status/677716515...,144,120,NaN,NaN
1643,675853064436391936,2015-12-13 01:41:41+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have an entire platoon of puppers. Tot...,https://twitter.com/dog_rates/status/675853064...,88,80,NaN,NaN

In [33]:
archive_df_c3.nunique()

tweet_id              15
timestamp             15
source                 1
text                  15
expanded_urls         15
rating_numerator      15
rating_denominator    11
name                   4
classification         0
dtype: int64

In [34]:
archive_df_c4=archive_df_c3.copy()
archive_df_c4['rating_numerator']=((10*archive_df_c3['rating_numerator'])/archive_df_c3['rating_denominator'])
archive_df_c4['rating_denominator'] = 10

##### Test

In [35]:
archive_df_c4

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,classification
626,820690176645140481,2017-01-15 17:52:40+00:00,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,https://twitter.com/dog_rates/status/820690176...,12.000000,10,NaN,NaN
925,758467244762497024,2016-07-28 01:00:57+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,https://twitter.com/dog_rates/status/758467244...,11.000000,10,NaN,NaN
1039,740373189193256964,2016-06-08 02:41:38+00:00,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",https://twitter.com/dog_rates/status/740373189...,8.181818,10,NaN,NaN
1077,731156023742988288,2016-05-13 16:15:54+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,https://twitter.com/dog_rates/status/731156023...,12.000000,10,this,NaN
1111,722974582966214656,2016-04-21 02:25:47+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy 4/20 from the squad! 13/10 for all https...,https://twitter.com/dog_rates/status/722974582...,2.000000,10,NaN,NaN
1141,716439118184652801,2016-04-03 01:36:11+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,https://twitter.com/dog_rates/status/716439118...,10.000000,10,Bluebert,NaN
1166,713900603437621249,2016-03-27 01:29:02+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,https://twitter.com/dog_rates/status/713900603...,11.000000,10,NaN,NaN
1188,710658690886586372,2016-03-18 02:46:49+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,https://twitter.com/dog_rates/status/710658690...,10.000000,10,NaN,NaN
1207,709198395643068416,2016-03-14 02:04:08+00:00,"<a href=""http://twitter.com/download/iphone"" r...","From left to right:\nCletus, Jerome, Alejandro...",https://twitter.com/dog_rates/status/709198395...,9.000000,10,NaN,NaN
1270,704054845121142784,2016-02-28 21:25:30+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,https://twitter.com/dog_rates/status/704054845...,12.000000,10,a,NaN
1337,697463031882764288,2016-02-10 16:51:59+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Happy Wednesday here's a bucket of pups. 44/40...,https://twitter.com/dog_rates/status/697463031...,11.000000,10,NaN,NaN
1482,684222868335505415,2016-01-05 04:00:18+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,https://twitter.com/dog_rates/status/684222868...,11.000000,10,NaN,NaN
1501,682962037429899265,2016-01-01 16:30:13+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darrel. He just robbed a 7/11 and is i...,https://twitter.com/dog_rates/status/682962037...,6.363636,10,Darrel,NaN
1593,677716515794329600,2015-12-18 05:06:23+00:00,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,https://twitter.com/dog_rates/status/677716515...,12.000000,10,NaN,NaN
1643,675853064436391936,2015-12-13 01:41:41+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have an entire platoon of puppers. Tot...,https://twitter.com/dog_rates/status/675853064...,11.000000,10,NaN,NaN

In [36]:
archive_df_c4.nunique()

tweet_id              15
timestamp             15
source                 1
text                  15
expanded_urls         15
rating_numerator       7
rating_denominator     1
name                   4
classification         0
dtype: int64

Thus this worked, let's normalize this all over our new data frame (archive_df_c2) and creating new one till this stage (archive_df_c5)

In [37]:
archive_df_c5 = archive_df_c2.copy()
archive_df_c5['rating_numerator']=((10*archive_df_c2['rating_numerator'])/archive_df_c2['rating_denominator'])
archive_df_c5['rating_denominator'] = 10
archive_df_c5.nunique()

tweet_id              2094
timestamp             2094
source                   4
text                  2094
expanded_urls         2093
rating_numerator        23
rating_denominator       1
name                   954
classification           4
dtype: int64

In [38]:
archive_df_c5.describe()

       rating_numerator  rating_denominator
count       2094.000000              2094.0
mean          11.694284                10.0
std           39.687698                 0.0
min            0.000000                10.0
25%           10.000000                10.0
50%           11.000000                10.0
75%           12.000000                10.0
max         1776.000000                10.0

In [39]:
archive_df_c5.query('rating_numerator == 177 ')

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, classification]
Index: []

In [40]:
archive_df_c5['rating_numerator'][130] = 27
archive_df_c5['rating_numerator'][677] = 34
archive_df_c5['rating_numerator'][783] = 75/3
archive_df_c5['rating_numerator'][976] = 17.7
archive_df_c5['rating_numerator'][1541] = 1776/100
archive_df_c5['rating_numerator'][1829] = 420/12

<ipython-input-40-b7450a8153ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archive_df_c5['rating_numerator'][130] = 27
<ipython-input-40-b7450a8153ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archive_df_c5['rating_numerator'][677] = 34
<ipython-input-40-b7450a8153ea>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archive_df_c5['rating_numerator'][783] = 75/3
<ipython-input-40-b7450a8153ea>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archive_df_c5['rating_numerator'][976] = 17.7
<ipython-input-40-b7450a8153ea>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archive_df_c5['rating_numerator'][1541] = 1776/100
<ipython-input-40-b7450a8153ea>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archive_df_c5['rating_numerator'][1829] = 420/12

In [41]:
archive_df_c5.describe()

       rating_numerator  rating_denominator
count       2094.000000              2094.0
mean          10.642792                10.0
std            2.341674                 0.0
min            0.000000                10.0
25%           10.000000                10.0
50%           11.000000                10.0
75%           12.000000                10.0
max           35.000000                10.0

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • source column is not represented in clear naming -visually- `archive_df_c`
##### Define
- slicing the source column to extract clear source name

##### Code

In [42]:
archive_df_c6 = archive_df_c5.copy()
archive_df_c6['source']=archive_df_c6.source.str.split('>',expand = True)[1]
archive_df_c6['source']=archive_df_c6.source.str.split('<',expand = True)[0]
archive_df_c6.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,classification
0,890240255349198849,2017-07-26 15:59:51+00:00,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14.0,10,Cassie,doggo
1,884162670584377345,2017-07-09 21:29:42+00:00,Twitter for iPhone,Meet Yogi. He doesn't have any important dog m...,https://twitter.com/dog_rates/status/884162670...,12.0,10,Yogi,doggo
2,872967104147763200,2017-06-09 00:02:31+00:00,Twitter for iPhone,Here's a very large dog. He has a date later. ...,https://twitter.com/dog_rates/status/872967104...,12.0,10,NaN,doggo
3,871515927908634625,2017-06-04 23:56:03+00:00,Twitter for iPhone,This is Napolean. He's a Raggedy East Nicaragu...,https://twitter.com/dog_rates/status/871515927...,12.0,10,Napolean,doggo
4,871102520638267392,2017-06-03 20:33:19+00:00,Twitter for iPhone,Never doubt a doggo 14/10 https://t.co/AbBLh2FZCH,https://twitter.com/animalcog/status/871075758...,14.0,10,NaN,doggo

##### Test

In [43]:
archive_df_c6.source.value_counts()

Twitter for iPhone     1962
Vine - Make a Scene      91
Twitter Web Client       30
TweetDeck                11
Name: source, dtype: int64

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • favorites and retweet count columns needed to be merged with the first table to create a unit of tweets' obeservation `api_df`
##### Define
- merging `api_df` and `archive_df_c6`

##### Code

In [44]:
api_df['tweet_id'] = api_df['tweet_id'].apply(str)
archive_df_c7 = pd.merge(archive_df_c6, api_df,
                            on=['tweet_id'], how='left')

##### Test

In [45]:
archive_df_c7.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,classification,retweet_count,favorite_count
0,890240255349198849,2017-07-26 15:59:51+00:00,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14.0,10,Cassie,doggo,7711,32467
1,884162670584377345,2017-07-09 21:29:42+00:00,Twitter for iPhone,Meet Yogi. He doesn't have any important dog m...,https://twitter.com/dog_rates/status/884162670...,12.0,10,Yogi,doggo,3128,20771
2,872967104147763200,2017-06-09 00:02:31+00:00,Twitter for iPhone,Here's a very large dog. He has a date later. ...,https://twitter.com/dog_rates/status/872967104...,12.0,10,NaN,doggo,5669,28031
3,871515927908634625,2017-06-04 23:56:03+00:00,Twitter for iPhone,This is Napolean. He's a Raggedy East Nicaragu...,https://twitter.com/dog_rates/status/871515927...,12.0,10,Napolean,doggo,3628,20730
4,871102520638267392,2017-06-03 20:33:19+00:00,Twitter for iPhone,Never doubt a doggo 14/10 https://t.co/AbBLh2FZCH,https://twitter.com/animalcog/status/871075758...,14.0,10,NaN,doggo,5764,21461

In [46]:
archive_df_c7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094 entries, 0 to 2093
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2094 non-null   object
 1   timestamp           2094 non-null   datetime64[ns, UTC]
 2   source              2094 non-null   object
 3   text                2094 non-null   object
 4   expanded_urls       2094 non-null   object
 5   rating_numerator    2094 non-null   float64
 6   rating_denominator  2094 non-null   int64
 7   name                1494 non-null   object
 8   classification      335 non-null    object
 9   retweet_count       2094 non-null   int64
 10  favorite_count      2094 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(6)
memory usage: 196.3+ KB

In [47]:
archive_df_c7.nunique()

tweet_id              2094
timestamp             2094
source                   4
text                  2094
expanded_urls         2093
rating_numerator        23
rating_denominator       1
name                   954
classification           4
retweet_count         1671
favorite_count        1940
dtype: int64

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • some dog names are not extracted correctly -visually- `archive_df_c`
##### Define
- re-extracting the dogs names form text `archive_df_c7`

##### Code

In [48]:
archive_df_c8 = archive_df_c7.copy()
names=[]
for i in range(len(archive_df_c8)):
    try:
        my_text= archive_df_c8['text'][i]
        text_names = re.findall(r"This is [A-Z][a-z]+|Meet [A-Z][a-z]+|name is [A-Z][a-z]+|hello to [A-Z][a-z]+|named [A-Z][a-z]+|That is [A-Z][a-z]", my_text)[0].split(" ")[-1]
    except:
        text_names = np.nan
    names.append(text_names)
    print (i)
    print(text_names)

0
Cassie
1
Yogi
2
nan
3
Napolean
4
nan
5
Scout
6
nan
7
nan
8
nan
9
Barney
10
Mimosa
11
Meera
12
nan
13
nan
14
Rhino
15
Smiley
16
Miguel
17
Emanuel
18
Pete
19
nan
20
Astrid
21
Doobert
22
Loki
23
Cupid
24
Pilot
25
nan
26
Duchess
27
Sundance
28
nan
29
nan
30
Sunny
31
Bo
32
Dido
33
Chubbs
34
nan
35
nan
36
Rocky
37
nan
38
Bones
39
nan
40
Sobe
41
nan
42
nan
43
Rizzo
44
Pinot
45
Deacon
46
Sampson
47
Combo
48
nan
49
nan
50
Anakin
51
Finley
52
nan
53
Gerald
54
nan
55
Wishes
56
nan
57
Maggie
58
nan
59
nan
60
nan
61
nan
62
nan
63
nan
64
nan
65
nan
66
Piper
67
Boomer
68
Divine
69
Qu
70
Lenox
71
nan
72
nan
73
nan
74
nan
75
nan
76
Kellogg
77
nan
78
Kyle
79
nan
80
nan
81
nan
82
nan
83
Grizzwald
84
Doc
85
nan
86
Blu
87
nan
88
nan
89
Moose
90
nan
91
Petrick
92
Roscoe
93
Gus
94
nan
95
Ginger
96
Jed
97
Sierra
98
Rover
99
Jamesy
100
nan
101
Boomer
102
Pickles
103
nan
104
Clark
105
Ava
106
Gidget
107
nan
108
Kona
109
nan
110
Gabe
111
nan
112
nan
113
Cooper
114
Craig
115
nan
116
Ollie
117
nan
118
nan
119
nan
120
Laika
121
Ralphy
122
nan
123
nan
124
Sophie
125
Huck
126
Sampson
127
Winnie
128
Chelsea
129
Willem
130
Louie
131
nan
132
Jax
133
nan
134
Lola
135
nan
136
Milo
137
Malcolm
138
Zoe
139
nan
140
Finn
141
nan
142
nan
143
nan
144
nan
145
nan
146
Edmund
147
Aqua
148
Baloo
149
Benji
150
nan
151
Rory
152
nan
153
Buckley
154
Rooney
155
nan
156
Rueben
157
nan
158
nan
159
Lillie
160
Ashleigh
161
Luther
162
Oliver
163
Derek
164
Clyde
165
nan
166
Smokey
167
Ozzy
168
nan
169
Winston
170
Chuckles
171
nan
172
nan
173
nan
174
Finnegus
175
nan
176
Adele
177
Ambrose
178
nan
179
nan
180
Ralphson
181
nan
182
Scooter
183
nan
184
nan
185
Sansa
186
nan
187
Millie
188
nan
189
nan
190
nan
191
Cooper
192
nan
193
nan
194
nan
195
nan
196
Misty
197
Trevith
198
nan
199
nan
200
Lorenzo
201
Grady
202
nan
203
Phil
204
nan
205
Milo
206
Wally
207
nan
208
nan
209
Herschel
210
nan
211
Gizmo
212
Lucy
213
Trip
214
nan
215
Hamrick
216
nan
217
Lizzie
218
nan
219
Blakely
220
Curtis
221
nan
222
nan
223
nan
224
Mona
225
Olivia
226
Birf
227
nan
228
nan
229
Marty
230
Otis
231
nan
232
Hubertson
233
Gerbald
234
nan
235
nan
236
nan
237
Sweets
238
nan
239
nan
240
Banjo
241
nan
242
Brandy
243
Larry
244
nan
245
nan
246
Patrick
247
Charlie
248
Bo
249
nan
250
Toffee
251
nan
252
Ellie
253
Hector
254
nan
255
nan
256
Kawhi
257
nan
258
nan
259
Rinna
260
nan
261
Dwight
262
nan
263
nan
264
Bella
265
nan
266
nan
267
nan
268
nan
269
nan
270
nan
271
nan
272
nan
273
Godzilla
274
nan
275
nan
276
nan
277
nan
278
nan
279
Pepper
280
nan
281
nan
282
Zuzu
283
Mollie
284
Superpup
285
Rufio
286
nan
287
nan
288
Lennon
289
Gus
290
Kaiya
291
nan
292
Obie
293
Raymond
294
Pickles
295
Albert
296
Jeffri
297
nan
298
Django
299
Eve
300
Fletcher
301
Schnozz
302
Chuckles
303
Chet
304
Cheryl
305
nan
306
Norman
307
Scott
308
Jazz
309
Rolf
310
Opal
311
Bubba
312
nan
313
Stuart
314
Snoopy
315
Sebastian
316
Shikha
317
Zoey
318
nan
319
Pablo
320
nan
321
Oliver
322
Diogi
323
Loki
324
Lily
325
Betty
326
Tonks
327
Reginald
328
nan
329
nan
330
nan
331
Cooper
332
Abby
333
Kilo
334
Bayley
335
Phineas
336
Tilly
337
Archie
338
Darla
339
Franklin
340
nan
341
Jax
342
nan
343
Zoey
344
Koda
345
Bruno
346
Ted
347
Oliver
348
Jim
349
Zeke
350
Ralphus
351
Gerald
352
Jeffrey
353
nan
354
Canela
355
nan
356
nan
357
Maya
358
Mingus
359
Derek
360
Waffles
361
Jimbo
362
Maisey
363
Howard
364
nan
365
Earl
366
Lola
367
Kevin
368
nan
369
nan
370
Noah
371
Bella
372
nan
373
Rusty
374
Stanley
375
Alfy
376
Koko
377
Rey
378
Gary
379
Elliot
380
Louis
381
nan
382
Bella
383
Jesse
384
nan
385
Romeo
386
Bailey
387
Duddles
388
Jack
389
Steven
390
Beau
391
nan
392
Shadow
393
Emmy
394
Aja
395
Penny
396
Dante
397
Nelly
398
nan
399
Benedict
400
Venti
401
Goose
402
Nugget
403
nan
404
nan
405
Cash
406
nan
407
nan
408
nan
409
Monkey
410
nan
411
Harry
412
Kody
413
Lassie
414
Boomer
415
nan
416
Cody
417
Zoey
418
Rumble
419
Clifford
420
Dewey
421
Stanley
422
Gizmo
423
Walter
424
nan
425
Cooper
426
nan
427
Harold
428
nan
429
nan
430
Lili
431
Coco
432
Boomer
433
Sammy
434
Nelly
435
nan
436
Meatball
437
Paisley
438
Albus
439
Neptune
440
Belle
441
Quinn
442
Zooey
443
Dave
444
Jersey
445
nan
446
Hobbes
447
nan
448
Burt
449
Lorenzo
450
Carl
451
Jordy
452
nan
453
Milky
454
Trooper
455
nan
456
nan
457
Sophie
458
Wyatt
459
Rosie
460
Thor
461
nan
462
Oscar
463
Zeke
464
Callie
465
Cermet
466
nan
467
nan
468
nan
469
Marlee
470
Arya
471
Einstein
472
Alice
473
nan
474
Rumpole
475
Benny
476
Aspen
477
Jarod
478
Wiggles
479
General
480
Sailor
481
nan
482
Iggy
483
Snoop
484
Kyle
485
Leo
486
Riley
487
nan
488
Noosh
489
nan
490
Kevin
491
nan
492
Odin
493
Jerry
494
Georgie
495
Rontu
496
Cannon
497
Furzey
498
Daisy
499
nan
500
Tuck
501
nan
502
Vixen
503
nan
504
Jarvis
505
nan
506
nan
507
Brady
508
Luna
509
Charlie
510
Margo
511
nan
512
Sadie
513
Hank
514
Tycho
515
Charlie
516
Indie
517
Winnie
518
George
519
Bentley
520
Penny
521
nan
522
nan
523
Max
524
Dawn
525
nan
526
Maddie
527
nan
528
Monty
529
Sojourner
530
Winston
531
Odie
532
nan
533
Arlo
534
Walter
535
Stanley
536
Daisy
537
Waffles
538
Vincent
539
Lucy
540
Mookie
541
Oliver
542
Lucy
543
nan
544
Eli
545
Ash
546
Lola
547
nan
548
nan
549
Tucker
550
Tobi
551
Chester
552
Wilson
553
Sunshine
554
Lipton
555
Bentley
556
Charlie
557
Bronte
558
Poppy
559
Willow
560
nan
561
nan
562
Orion
563
Eevee
564
Charlie
565
Kuyu
566
Daisy
567
nan
568
Dutch
569
Scooter
570
Tucker
571
Reggie
572
Lilly
573
Samson
574
Mia
575
Leo
576
Malcolm
577
Dexter
578
Alfie
579
Fiona
580
nan
581
Mutt
582
Bear
583
Beebop
584
Alexander
585
Sailer
586
Brutus
587
Boots
588
Tucker
589
Ralphie
590
Charlie
591
Pawnd
592
nan
593
Ike
594
Mo
595
Toby
596
Sweet
597
Scooter
598
Wilson
599
Nala
600
nan
601
Cash
602
Winston
603
Crawford
604
Wyatt
605
Albus
606
Hobbes
607
nan
608
Paisley
609
nan
610
Jimison
611
Harlso
612
Luca
613
Flash
614
Sunny
615
nan
616
nan
617
nan
618
Howie
619
Jazzy
620
Anna
621
Finn
622
Wafer
623
Bear
624
Tom
625
Florence
626
Autumn
627
nan
628
Buddy
629
Eugene
630
Ken
631
Strudel
632
Tebow
633
nan
634
Chloe
635
Timber
636
Binky
637
Moose
638
Dudley
639
Comet
640
Jack
641
Akumi
642
Titan
643
nan
644
Olivia
645
Alf
646
Oshie
647
Gary
648
Sky
649
nan
650
nan
651
Eleanor
652
Layla
653
nan
654
Toby
655
Baron
656
Tyr
657
Bauer
658
Swagger
659
Brandi
660
nan
661
Mary
662
Moe
663
Ted
664
Halo
665
Augie
666
Sam
667
Hunter
668
Pavlov
669
Phil
670
Gus
671
nan
672
nan
673
Kyro
674
Wallace
675
Ito
676
Koda
677
Seamus
678
Cooper
679
Stephan
680
Lennon
681
nan
682
nan
683
Waffles
684
nan
685
Major
686
Duke
687
Zeke
688
Sansa
689
Shooter
690
Django
691
nan
692
Bo
693
Sonny
694
Winston
695
Marley
696
Bailey
697
Winnie
698
Severus
699
Ronnie
700
Wallace
701
nan
702
Milo
703
Mauve
704
Chef
705
Peaches
706
Longfellow
707
Jeffrey
708
Mister
709
Iroh
710
Shadow
711
Cooper
712
Cassie
713
Pancake
714
Tyr
715
Romeo
716
Snicku
717
Ruby
718
nan
719
nan
720
Yogi
721
Daisy
722
Brody
723
Bailey
724
Mack
725
Nimbus
726
Maximus
727
Clark
728
Dobby
729
Fiona
730
Moreton
731
Dave
732
nan
733
Tucker
734
Juno
735
Maude
736
Newt
737
Benji
738
Nida
739
nan
740
Robin
741
nan
742
Bailey
743
Monster
744
Be
745
Remus
746
nan
747
nan
748
Levi
749
Mabel
750
Misty
751
Mosby
752
Duke
753
Maggie
754
Bruce
755
Happy
756
Eli
757
Brownie
758
Rizzy
759
nan
760
Stella
761
Bo
762
Lucy
763
Butter
764
Dexter
765
nan
766
Leo
767
nan
768
Frank
769
Moose
770
Lincoln
771
Rory
772
Logan
773
nan
774
Dale
775
Arnie
776
Mattie
777
Lucy
778
Rusty
779
Dallas
780
Doc
781
Hero
782
Rusty
783
Frankie
784
Stormy
785
Balto
786
Riley
787
Mairi
788
Loomis
789
Finn
790
Godi
791
Dave
792
Earl
793
Cali
794
Penny
795
Timmy
796
Chipson
797
nan
798
nan
799
Oakley
800
nan
801
Dash
802
Koda
803
Hercules
804
nan
805
Bear
806
nan
807
Scout
808
Reggie
809
nan
810
Jay
811
nan
812
Mya
813
Strider
814
Penny
815
nan
816
Nala
817
Stanley
818
Wesley
819
nan
820
Derek
821
Jeffrey
822
Solomon
823
nan
824
nan
825
Blue
826
nan
827
Maximus
828
Tucker
829
Finley
830
Sprinkles
831
nan
832
Heinrich
833
Loki
834
Shakespeare
835
Bungalo
836
Chip
837
Grey
838
nan
839
Roosevelt
840
nan
841
nan
842
Jack
843
Finn
844
Penny
845
Davey
846
Dakota
847
Fizz
848
Dixie
849
Charlie
850
nan
851
Winston
852
Sebastian
853
nan
854
Al
855
Jackson
856
Carbon
857
Klein
858
Titan
859
Don
860
Kirby
861
Jesse
862
Lou
863
Oakley
864
Chevy
865
Tito
866
Philbert
867
Louie
868
Rupert
869
Rufus
870
Brudge
871
Shadoe
872
Oscar
873
Juno
874
Angel
875
Brat
876
Tove
877
Zoey
878
Gromit
879
Aubie
880
Kota
881
Alfie
882
Clark
883
Belle
884
Leela
885
Glenn
886
Buddy
887
Scout
888
nan
889
Shelby
890
nan
891
nan
892
Sephie
893
Bruce
894
Bonaparte
895
Albert
896
Bo
897
Rose
898
Theo
899
Atlas
900
Rocco
901
Fido
902
Sadie
903
nan
904
Kirby
905
Emma
906
Oakley
907
nan
908
Luna
909
Toby
910
Spencer
911
Lilli
912
Boston
913
Brandonald
914
nan
915
Odie
916
Corey
917
nan
918
nan
919
Leonard
920
Beckham
921
Cooper
922
nan
923
nan
924
Dev
925
Oliver
926
Gert
927
nan
928
nan
929
Watson
930
Winnie
931
Keith
932
Milo
933
Dex
934
nan
935
Charlie
936
nan
937
nan
938
Scout
939
Hank
940
Ace
941
nan
942
Tayzie
943
Carl
944
Grizzie
945
nan
946
Brody
947
Ruby
948
Tucker
949
Fred
950
Toby
951
Max
952
Gilbert
953
nan
954
Meyer
955
Arnie
956
nan
957
Stewie
958
Calvin
959
Lilah
960
Spanky
961
Jameson
962
Beau
963
Jax
964
Bo
965
Atticus
966
Lucy
967
nan
968
George
969
Winston
970
Dietrich
971
nan
972
nan
973
Tripp
974
nan
975
Cora
976
nan
977
Duke
978
nan
979
nan
980
nan
981
nan
982
Huxley
983
nan
984
Keurig
985
Bookstore
986
nan
987
nan
988
nan
989
Linus
990
Atticus
991
Clark
992
nan
993
nan
994
nan
995
Maddie
996
Abby
997
Shiloh
998
nan
999
Gustav
1000
Arlen
1001
Gus
1002
Percy
1003
nan
1004
Sugar
1005
Jeffrey
1006
Oliver
1007
Indie
1008
Harvey
1009
Blanket
1010
Geno
1011
nan
1012
Stark
1013
Harold
1014
Bentley
1015
Beya
1016
Kayla
1017
Maxaroni
1018
Bell
1019
Phil
1020
Doug
1021
nan
1022
Tucker
1023
Theodore
1024
Ted
1025
Leo
1026
nan
1027
Chip
1028
nan
1029
nan
1030
Chase
1031
nan
1032
Nollie
1033
Rorie
1034
Simba
1035
nan
1036
Kyle
1037
Charles
1038
nan
1039
nan
1040
nan
1041
Axel
1042
Storkson
1043
Remy
1044
Bella
1045
nan
1046
Lily
1047
nan
1048
Chadrick
1049
nan
1050
nan
1051
Maxaroni
1052
Dakota
1053
nan
1054
Jax
1055
nan
1056
Livvie
1057
nan
1058
Terry
1059
nan
1060
Hermione
1061
Ralpher
1062
Aldrick
1063
nan
1064
Larry
1065
Solomon
1066
nan
1067
nan
1068
Crystal
1069
Ziva
1070
Charles
1071
Ollie
1072
Stefan
1073
Pupcasso
1074
nan
1075
Puff
1076
nan
1077
Flurpson
1078
Coleman
1079
Wallace
1080
Enchilada
1081
Raymond
1082
Cilantro
1083
nan
1084

Karll
1085
nan
1086
Sprout
1087
Blitz
1088
Bloop
1089
nan
1090
Colby
1091
Lola
1092
nan
1093
Fred
1094
Kreggory
1095
Sarge
1096
Sugar
1097
Reginald
1098
Ivar
1099
Jangle
1100
nan
1101
Schnitzel
1102
Panda
1103
Archie
1104
Berkeley
1105
nan
1106
Ralph
1107
Charleson
1108
Neptune
1109
Harnold
1110
Sid
1111
Lucy
1112
Pippa
1113
Sadie
1114
Otis
1115
nan
1116
Carper
1117
nan
1118
Bowie
1119
nan
1120
Alexanderson
1121
Suki
1122
Barclay
1123
nan
1124
Skittle
1125
Ebby
1126
Fl
1127
Link
1128
Jennifur
1129
nan
1130
Bluebert
1131
Stephanus
1132
Bubbles
1133
nan
1134
nan
1135
Bentley
1136
Toby
1137
Zeus
1138
Bertson
1139
Oscar
1140
Nico
1141
Michelangelope
1142
Siba
1143
Calbert
1144
nan
1145
Curtis
1146
Benedict
1147
nan
1148
Blitz
1149
Travis
1150
Thumas
1151
nan
1152
nan
1153
Kanu
1154
Doug
1155
nan
1156
Piper
1157
nan
1158
Lance
1159
Opie
1160
Stubert
1161
nan
1162
Sunny
1163
Kane
1164
nan
1165
Steven
1166
Olive
1167
Chester
1168
Roosevelt
1169
nan
1170
nan
1171
Gary
1172
nan
1173
nan
1174
Milo
1175
Staniel
1176
Sora
1177
nan
1178
nan
1179
Beemo
1180
Oshie
1181
Gunner
1182
nan
1183
nan
1184
Lacy
1185
Tater
1186
Watson
1187
nan
1188
nan
1189
Olaf
1190
Cecil
1191
Vince
1192
Karma
1193
Billy
1194
Walker
1195
Penny
1196
nan
1197
Sammy
1198
Rodney
1199
Klevin
1200
Lucy
1201
Malikai
1202
Mister
1203
Coco
1204
Smokey
1205
Bear
1206
Bobble
1207
nan
1208
Oliver
1209
River
1210
Jebberson
1211
nan
1212
Cooper
1213
Remington
1214
nan
1215
Farfle
1216
Rufus
1217
Sadie
1218
nan
1219
nan
1220
Jiminus
1221
nan
1222
Harper
1223
Keurig
1224
Clarkus
1225
nan
1226
Cassie
1227
Cupcake
1228
Kathmandu
1229
Tucker
1230
Ellie
1231
nan
1232
Elliot
1233
Katie
1234
Shadow
1235
nan
1236
Oliver
1237
nan
1238
Koda
1239
nan
1240
Kara
1241
nan
1242
Dexter
1243
Layla
1244
Lucy
1245
Max
1246
nan
1247
Zara
1248
Cooper
1249
Jimothy
1250
Bode
1251
Terrenth
1252
Reese
1253
nan
1254
Chesterson
1255
nan
1256
Lucia
1257
Bisquick
1258
Stanley
1259
nan
1260
nan
1261
nan
1262
Bella
1263
Charlie
1264
Socks
1265
nan
1266
nan
1267
Chip
1268
Luna
1269
Lucy
1270
Rambo
1271
nan
1272
Rudy
1273
nan
1274
nan
1275
nan
1276
Fiji
1277
Rilo
1278
Bilbo
1279
Coopson
1280
Yoda
1281
nan
1282
Chet
1283
Crouton
1284
Daniel
1285
nan
1286
Vincent
1287
Kaia
1288
Murphy
1289
Dotsy
1290
Eazy
1291
Coops
1292
Thumas
1293
Nala
1294
nan
1295
Fillup
1296
Dave
1297
Archie
1298
nan
1299
Miley
1300
Calbert
1301
nan
1302
Charl
1303
Reagan
1304
nan
1305
Yukon
1306
Oliver
1307
Ce
1308
nan
1309
Cuddles
1310
Rusty
1311
nan
1312
Claude
1313
Jessiga
1314
Maximus
1315
Franklin
1316
Beau
1317
Lily
1318
nan
1319
Doug
1320
Cassie
1321
Carter
1322
nan
1323
Ole
1324
Pherb
1325
Blipson
1326
nan
1327
Bentley
1328
nan
1329
Charlie
1330
Oakley
1331
Rosie
1332
nan
1333
nan
1334
Reptar
1335
Klevin
1336
nan
1337
Berb
1338
nan
1339
Wyatt
1340
Calvin
1341
nan
1342
Bob
1343
Colin
1344
nan
1345
Brian
1346
nan
1347
Archie
1348
Phil
1349
Olivi
1350
nan
1351
nan
1352
Lola
1353
Chester
1354
nan
1355
Kobe
1356
nan
1357
Freddery
1358
nan
1359
Lincoln
1360
Sadie
1361
Oscar
1362
Bodie
1363
Dunkin
1364
nan
1365
nan
1366
nan
1367
Tupawc
1368
Chester
1369
Amber
1370
Cody
1371
nan
1372
Edgar
1373
Teddy
1374
Kingsley
1375
Brockly
1376
nan
1377
nan
1378
Richie
1379
nan
1380
Leo
1381
Bailey
1382
nan
1383
Molly
1384
nan
1385
nan
1386
nan
1387
nan
1388
nan
1389
Buddy
1390
Peaches
1391
Vinscent
1392
Cedrick
1393
Hazel
1394
Lolo
1395
Eriq
1396
Phred
1397
nan
1398
Oddie
1399
Maxwell
1400
Geoff
1401
nan
1402
Covach
1403
nan
1404
Durg
1405
Fynn
1406
Luca
1407
Ricky
1408
nan
1409
nan
1410
Carl
1411
nan
1412
Chipson
1413
Herald
1414
Lucky
1415
Ferg
1416
nan
1417
Clarence
1418
nan
1419
Brad
1420
nan
1421
Pubert
1422
Fr
1423
Louis
1424
Derby
1425
nan
1426
Kilo
1427
nan
1428
Louis
1429
Trooper
1430
Ember
1431
Opal
1432
Marq
1433
nan
1434
Kramer
1435
Barry
1436
Tyrone
1437
Gordon
1438
Samson
1439
Baxter
1440
nan
1441
Jackson
1442
nan
1443
nan
1444
Horace
1445
nan
1446
Crimson
1447
nan
1448
nan
1449
Fl
1450
nan
1451
Hammond
1452
Lorelei
1453
Olive
1454
Brooks
1455
nan
1456
nan
1457
Rocky
1458
nan
1459
Alfie
1460
Jerry
1461
Oreo
1462
Bruiser
1463
nan
1464
Perry
1465
Theodore
1466
nan
1467
Bobby
1468
Pippa
1469
Jeph
1470
Obi
1471
nan
1472
nan
1473
Tino
1474
nan
1475
Kulet
1476
nan
1477
Lupe
1478
Sadie
1479
Tiger
1480
Jiminy
1481
Buddy
1482
Sebastian
1483
nan
1484
Griffin
1485
nan
1486
Jack
1487
nan
1488
nan
1489
Lulu
1490
Darrel
1491
Taco
1492
nan
1493
Joey
1494
nan
1495
nan
1496
Kreg
1497
Brody
1498
Todo
1499
Jax
1500
Samson
1501
nan
1502
Tess
1503
Thea
1504
Ulysses
1505
nan
1506
Jimothy
1507
nan
1508
Apollo
1509
Carly
1510
Asher
1511
Glacier
1512
Chuck
1513
nan
1514
Sarge
1515
Panda
1516
Champ
1517
Aspen
1518
nan
1519
Ozzie
1520
Alice
1521
Sadie
1522
Griswold
1523
Cheesy
1524
nan
1525
nan
1526
Moofasa
1527
Brody
1528
Penny
1529
Percy
1530
nan
1531
nan
1532
Ce
1533
Toby
1534
Goliath
1535
Reggie
1536
Ozzy
1537
nan
1538
Emmie
1539
Sammy
1540
Penelope
1541
Rocco
1542
nan
1543
Bruce
1544
Willie
1545
Sabertooth
1546
Hunter
1547
Mike
1548
nan
1549
William
1550
Evy
1551
Hurley
1552
nan
1553
Rubio
1554
nan
1555
Louis
1556
nan
1557
Chompsky
1558
nan
1559
Rascal
1560
nan
1561
Lola
1562
Linda
1563
Tug
1564
Mia
1565
Wilson
1566
Dash
1567
Tango
1568
nan
1569
Grizz
1570
nan
1571
Crystal
1572
Jerome
1573
nan
1574
nan
1575
Crumpet
1576
Rosie
1577
Jessifer
1578
Reese
1579
Izzy
1580
nan
1581
nan
1582
nan
1583
Ralph
1584
Sadie
1585
nan
1586
nan
1587
nan
1588
nan
1589
Sandy
1590
nan
1591
nan
1592
Axel
1593
nan
1594
nan
1595
Humphrey
1596
Derek
1597
Tassy
1598
Juckson
1599
Chuq
1600
nan
1601
Cooper
1602
nan
1603
Tyrus
1604
Karl
1605
nan
1606
nan
1607
nan
1608
Ash
1609
nan
1610
Penny
1611
nan
1612
nan
1613
nan
1614
Bubbles
1615
Vinnie
1616
nan
1617
Griffin
1618
nan
1619
Duke
1620
Winston
1621
Kenneth
1622
Herm
1623
nan
1624
Bert
1625
nan
1626
Striker
1627
nan
1628
nan
1629
Donny
1630
nan
1631
nan
1632
nan
1633
nan
1634
nan
1635
Bernie
1636
Buddah
1637
Lenny
1638
Wylie
1639
nan
1640
Ellie
1641
Sammy
1642
nan
1643
nan
1644
Reggie
1645
nan
1646
nan
1647
nan
1648
nan
1649
Daisy
1650
nan
1651
Arnold
1652
nan
1653
nan
1654
nan
1655
Coops
1656
nan
1657
Steven
1658
Oliver
1659
nan
1660
nan
1661
Moe
1662
Laela
1663
nan
1664
Tedders
1665
nan
1666
Maggie
1667
nan
1668
nan
1669
nan
1670
nan
1671
Sophie
1672
nan
1673
Patrick
1674
Jeb
1675
Rodman
1676
nan
1677
nan
1678
nan
1679
Louis
1680
Bailey
1681
Ava
1682
Jonah
1683
Lenny
1684
Gary
1685
Chesney
1686
nan
1687
Kenny
1688
nan
1689
Bob
1690
Henry
1691
Bobbay
1692
nan
1693
Mitch
1694
Earl
1695
Stanley
1696
Lucy
1697
nan
1698
nan
1699
Daisy
1700
nan
1701
Acro
1702
Aiden
1703
nan
1704
nan
1705
nan
1706
nan
1707
nan
1708
nan
1709
Riley
1710
Dot
1711
nan
1712
nan
1713
Larry
1714
George
1715
Shnuggles
1716
Kendall
1717
Kip
1718
Sandy
1719
nan
1720
nan
1721
Steve
1722
Koda
1723
nan
1724
Bella
1725
Gerald
1726
nan
1727
Frankie
1728
nan
1729
Mac
1730
nan
1731
Dexter
1732
Kenzie
1733
Pumpkin
1734
nan
1735
nan
1736
Gustaf
1737
Terry
1738
Jimison
1739
nan
1740
Oscar
1741
Ed
1742
Jerry
1743
Leonidas
1744
Caryl
1745
nan
1746
Taz
1747
nan
1748
Darby
1749
nan
1750
Jackie
1751
nan
1752
Buddy
1753
Franq
1754
Pippin
1755
nan
1756
Kreg
1757
nan
1758
nan
1759
Snickers
1760
Ridley
1761
nan
1762
Cal
1763
Bradley
1764
nan
1765
nan
1766
Tuco
1767
Patch
1768
Gizmo
1769
Lola
1770
Mojo
1771
Batdog
1772
Brad
1773
Mia
1774
Dylan
1775
nan
1776
nan
1777
nan
1778
Mark
1779
nan
1780
Jacob
1781
Oscar
1782
nan
1783
Marley
1784
nan
1785
nan
1786
Baxter
1787
Reginald
1788
nan
1789
Jax
1790
Alejandro
1791
Scruffers
1792
Hammond
1793
Charlie
1794
Pip
1795
Julius
1796
Malcolm
1797
Penelope
1798
nan
1799
Tanner
1800
nan
1801
Lou
1802
Lola
1803
Sparky
1804
nan
1805
Herm
1806
nan
1807
Anthony
1808
Holly
1809
nan
1810
Rufus
1811
nan
1812
nan
1813
Clarence
1814
nan
1815
Phred
1816
Toby
1817
nan
1818
nan
1819
Colby
1820
nan
1821
Jett
1822
Amy
1823
nan
1824
Remington
1825
nan
1826
Sage
1827
Maggie
1828
Andy
1829
Mason
1830
nan
1831
Trigger
1832
Antony
1833
nan
1834
Creg
1835
nan
1836
nan
1837
Traviss
1838
nan
1839
Vincent
1840
Gin
1841
Jerry
1842
Jeffrie
1843
nan
1844
Danny
1845
Ester
1846
Pluto
1847
Bloo
1848
Phineas
1849
nan
1850
Edd
1851
nan
1852
nan
1853
nan
1854
Paull
1855
Koda
1856
nan
1857
Hank
1858
Sam
1859
Willy
1860
Spork
1861
Herb
1862
Damon
1863
nan
1864
Scooter
1865
Peanut
1866
Nigel
1867
Larry
1868
Daisy
1869
Cherokee
1870
Butters
1871
nan
1872
Hemry
1873
Sandra
1874
Wally
1875
nan
1876
Fabio
1877
Winston
1878
Randall
1879
Liam
1880
Tommy
1881
Ben
1882
nan
1883
nan
1884
Raphael
1885
Zoey
1886
nan
1887
Julio
1888
Andru
1889
nan
1890
Alphred
1891
Chester
1892
Clarence
1893
Kloey
1894
Louie
1895
Shawwn
1896
nan
1897
Penny
1898
nan
1899
Skye
1900
nan
1901
Linda
1902
Keith
1903
Kollin
1904
Alfredo
1905
Ronduh
1906
Billl
1907
Olivi
1908
Chip
1909
Zeus
1910
Saydee
1911
Dug
1912
Sully
1913
Kirk
1914
nan
1915
Ralf
1916
Clarq
1917
Jaspers
1918
Samsom
1919
nan
1920
nan
1921
Tucker
1922
Terrance
1923
nan
1924
Harrison
1925
Bernie
1926
nan
1927
Ruby
1928
nan
1929
Chaz
1930
Jeremy
1931
Jaycob
1932
Leroi
1933
Herald
1934
Lambeau
1935
Ruffles
1936
Am
1937
Bobb
1938
Banditt
1939
nan
1940
Kevon
1941
Winifred
1942
nan
1943
nan
1944
Hanz
1945
Berta
1946
Churlie
1947
Zeek
1948
Timofy
1949
Maks
1950
Jomathan
1951
Kallie
1952
nan
1953
nan
1954
Marvin
1955
nan
1956
nan
1957
Spark
1958
nan
1959
Chuk
1960
Jo
1961
nan
1962
Day
1963
nan
1964
nan
1965
nan
1966
Rusty
1967
Sophie
1968
Guss
1969
Jareld
1970
Bisquick
1971
Torque
1972
nan
1973
nan
1974
Ron
1975
Skittles
1976
Alfonso
1977
nan
1978
nan
1979
Alfie
1980
nan
1981
Jiminy
1982
Otis
1983
nan
1984
Cleopatricia
1985
Erik
1986
Stu
1987
Tedrick
1988
nan
1989
Shaggy
1990
Cheryl
1991
nan
1992
Filup
1993
nan
1994
nan
1995
nan
1996
Jessiga
1997
Calvin
1998
Olive
1999
nan
2000
nan
2001
nan
2002
Kial
2003
Klint
2004
Frank
2005
Naphaniel
2006
Big
2007
Dook
2008
Tickles
2009
Hall
2010
Philippe
2011
nan
2012
Kohl
2013
Reese
2014
Cupcake
2015
nan
2016
nan
2017
nan
2018
Biden
2019
Fwed
2020
nan
2021
Genevieve
2022
Joshwa
2023
nan
2024
nan
2025
Timison
2026
Daryl
2027
nan
2028
Clarence
2029
Kenneth
2030
Churlie
2031
Bradlay
2032
Pipsy
2033
nan
2034
Gabe
2035
Clybe
2036
nan
2037
nan
2038
Keet
2039
nan
2040
Klevin
2041
Carll
2042
Pepe
2043
nan
2044
nan
2045
nan
2046
Jeph
2047
Jockson
2048
nan
2049
Octaviath
2050
Josep
2051
Lugan
2052
Johm
2053
Christoper
2054
nan
2055
Jimothy
2056
Kreggory
2057
Scout
2058
nan
2059
nan
2060
nan
2061
nan
2062
nan
2063
Walter
2064
nan
2065
nan
2066
nan
2067
nan
2068
nan
2069
nan
2070
nan
2071
nan
2072
nan
2073
nan
2074
nan
2075
nan
2076
nan
2077
nan
2078
nan
2079
nan
2080
nan
2081
nan
2082
nan
2083
nan
2084

nan
2085
nan
2086
nan
2087
nan
2088
nan
2089
nan
2090
nan
2091
nan
2092
nan
2093
nan

In [49]:
archive_df_c8['name']=names
archive_df_c8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094 entries, 0 to 2093
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2094 non-null   object
 1   timestamp           2094 non-null   datetime64[ns, UTC]
 2   source              2094 non-null   object
 3   text                2094 non-null   object
 4   expanded_urls       2094 non-null   object
 5   rating_numerator    2094 non-null   float64
 6   rating_denominator  2094 non-null   int64
 7   name                1415 non-null   object
 8   classification      335 non-null    object
 9   retweet_count       2094 non-null   int64
 10  favorite_count      2094 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(6)
memory usage: 276.3+ KB

##### Test

In [50]:
print(len(names))

2094

In [51]:
archive_df_c8.query('tweet_id == "704054845121142784"')

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,classification,retweet_count,favorite_count
1259,704054845121142784,2016-02-28 21:25:30+00:00,Twitter for iPhone,Here is a whole flock of puppers. 60/50 I'll ...,https://twitter.com/dog_rates/status/704054845...,12.0,10,NaN,NaN,1028,3201

In [52]:
archive_df_c8.iloc[1259]

tweet_id                                             704054845121142784
timestamp                                     2016-02-28 21:25:30+00:00
source                                               Twitter for iPhone
text                  Here is a whole flock of puppers.  60/50 I'll ...
expanded_urls         https://twitter.com/dog_rates/status/704054845...
rating_numerator                                                     12
rating_denominator                                                   10
name                                                                NaN
classification                                                      NaN
retweet_count                                                      1028
favorite_count                                                     3201
Name: 1259, dtype: object

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

#### • tweet_id: is int -programatically- `image_predictions_df`
##### Define
- change the type of the tweet_id column type to string/object

##### Code

In [53]:
image_predictions_df_c['tweet_id'] = image_predictions_df_c['tweet_id'].apply(str)

##### Test

In [54]:
image_predictions_df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   object
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

# • Storing Data Set:

`archive_df`

In [55]:
archive_df_c8.to_csv('twitter_archive_master.csv',index = False)

`image_predictions_df`

In [56]:
image_predictions_df_c.to_csv('image_predictions_new.csv',index = False)

#### <Font color='green'> ----------------------------------------------------------------------------------------- </font>

# • For Visualizing Part check the file named:
## Wrangle_act- Visualizing.ipynb